flows.json
[
    {
        "id": "3887a97abab1ae29",
        "type": "tab",
        "label": "Secret Manager",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb119fa58e5b3485",
        "type": "tab",
        "label": "Iconik to Gemini",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "269b642acef88503",
        "type": "group",
        "z": "bb119fa58e5b3485",
        "name": "[0] Webhook Receive",
        "style": {
            "label": true
        },
        "nodes": [
            "ccf39b06e755c073",
            "a403b999625db33d",
            "c94ee39be02badaa",
            "7fc236749081c4f8"
        ],
        "x": 54,
        "y": 39,
        "w": 292,
        "h": 242
    },
    {
        "id": "4e89c03817358d25",
        "type": "group",
        "z": "bb119fa58e5b3485",
        "name": "[1] Iconik Auth",
        "style": {
            "label": true
        },
        "nodes": [
            "80369f7995b0a4cc",
            "84e099d8f84ae022",
            "80b502eb86aee4bc",
            "f4319404be2c2735",
            "26f513247a55ca64",
            "73f1b5ffaabb36a3"
        ],
        "x": 374,
        "y": 39,
        "w": 272,
        "h": 242
    },
    {
        "id": "d29e7cdb2d5dd084",
        "type": "group",
        "z": "bb119fa58e5b3485",
        "name": "[0] Manual payload",
        "style": {
            "label": true
        },
        "nodes": [
            "inject_asset_id",
            "template_create_payload",
            "187792eede51b3c7"
        ],
        "x": 54,
        "y": 319,
        "w": 272,
        "h": 142
    },
    {
        "id": "413d709fa3d4b4a0",
        "type": "qibb-secret-manager-sync",
        "z": "3887a97abab1ae29",
        "name": "",
        "SYNC_PERIOD": "30min",
        "SYNC_ON_DEPLOY": true,
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccf39b06e755c073",
        "type": "http in",
        "z": "bb119fa58e5b3485",
        "g": "269b642acef88503",
        "name": "",
        "url": "webhooks/vision",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "a403b999625db33d",
                "80369f7995b0a4cc",
                "c94ee39be02badaa"
            ]
        ]
    },
    {
        "id": "a403b999625db33d",
        "type": "http response",
        "z": "bb119fa58e5b3485",
        "g": "269b642acef88503",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 235,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "c94ee39be02badaa",
        "type": "debug",
        "z": "bb119fa58e5b3485",
        "g": "269b642acef88503",
        "name": "Debug OK: Webhook Receive",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.asset_ids[0]",
        "statusType": "msg",
        "x": 275,
        "y": 120,
        "wires": [],
        "icon": "font-awesome/fa-check-circle-o",
        "l": false
    },
    {
        "id": "7fc236749081c4f8",
        "type": "comment",
        "z": "bb119fa58e5b3485",
        "g": "269b642acef88503",
        "name": "[0] 📖 Doc - Webhook Receive",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": [],
        "icon": "font-awesome/fa-book"
    },
    {
        "id": "80369f7995b0a4cc",
        "type": "change",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "Save Asset ID & Set Credentials",
        "rules": [
            {
                "t": "set",
                "p": "assetId",
                "pt": "msg",
                "to": "payload.asset_ids[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.email",
                "pt": "msg",
                "to": "SECRETS.ICONIK_USERNAME",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.password",
                "pt": "msg",
                "to": "SECRETS.ICONIK_PASSWORD",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.base_url",
                "pt": "msg",
                "to": "SECRETS.ICONIK_BASE_URL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 415,
        "y": 180,
        "wires": [
            [
                "80b502eb86aee4bc"
            ]
        ],
        "l": false
    },
    {
        "id": "84e099d8f84ae022",
        "type": "change",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "Save Auth Headers",
        "rules": [
            {
                "t": "set",
                "p": "authHeaders",
                "pt": "msg",
                "to": "headers",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 575,
        "y": 180,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "f4319404be2c2735",
        "type": "debug",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "Debug OK: Auth Iconik",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 495,
        "y": 240,
        "wires": [],
        "icon": "node-red/alert.svg",
        "l": false
    },
    {
        "id": "26f513247a55ca64",
        "type": "debug",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "Debug OK: Auth Iconik",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 495,
        "y": 120,
        "wires": [],
        "icon": "font-awesome/fa-check-circle-o",
        "l": false
    },
    {
        "id": "73f1b5ffaabb36a3",
        "type": "comment",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "[1] 📖 Doc - Iconik Auth",
        "info": "",
        "x": 520,
        "y": 80,
        "wires": [],
        "icon": "font-awesome/fa-book"
    },
    {
        "id": "inject_asset_id",
        "type": "inject",
        "z": "bb119fa58e5b3485",
        "g": "d29e7cdb2d5dd084",
        "name": "Inject Asset ID",
        "props": [
            {
                "p": "asset_id",
                "v": "4b253e98-ed08-11ee-9fe1-eea6f5037aef",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 175,
        "y": 420,
        "wires": [
            [
                "template_create_payload"
            ]
        ],
        "l": false
    },
    {
        "id": "template_create_payload",
        "type": "template",
        "z": "bb119fa58e5b3485",
        "g": "d29e7cdb2d5dd084",
        "name": "Build Full Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"user_id\": \"49c7bd08-0e06-11f0-a1f8-a6363a946122\",\n  \"system_domain_id\": \"9e392c9c-e28e-11ec-8906-82ba1484052f\",\n  \"context\": \"ASSET\",\n  \"action_id\": \"66ed6750-459f-11ef-afd9-1ec546efc4f6\",\n  \"asset_ids\": [\"{{asset_id}}\"],\n  \"collection_ids\": [],\n  \"saved_search_ids\": [],\n  \"metadata_view_id\": null,\n  \"metadata_values\": null,\n  \"date_created\": \"2025-06-04T07:20:34.362212\"\n}",
        "output": "str",
        "x": 235,
        "y": 420,
        "wires": [
            [
                "80369f7995b0a4cc"
            ]
        ],
        "l": false
    },
    {
        "id": "187792eede51b3c7",
        "type": "comment",
        "z": "bb119fa58e5b3485",
        "g": "d29e7cdb2d5dd084",
        "name": "[0] 📖 Doc - Manual payload",
        "info": "",
        "x": 190,
        "y": 360,
        "wires": [],
        "icon": "font-awesome/fa-book"
    },
    {
        "id": "80b502eb86aee4bc",
        "type": "iconik-auth",
        "z": "bb119fa58e5b3485",
        "g": "4e89c03817358d25",
        "name": "",
        "ICONIK_BASE_URL": "https://app.iconik.io",
        "ICONIK_EMAIL": "r.holzhause@techtriq.com",
        "ICONIK_PASSWORD": {
            "type": "cred",
            "value": "ftoeK1ytV9iG89GEFZagD2vHfbLncmuA0t6uyzrvTEtoBTRPVzCB6br8UM3jvPzk"
        },
        "x": 495,
        "y": 180,
        "wires": [
            [
                "84e099d8f84ae022",
                "26f513247a55ca64"
            ],
            [
                "f4319404be2c2735"
            ]
        ],
        "l": false
    }
]